# Test code is more lax

# Don't care about ConfigureAwait
[*.cs]
dotnet_diagnostic.VSTHRD111.severity = none

# Don't need to postfix Async
dotnet_diagnostic.VSTHRD200.severity = none

# Can catch "exception in tests"
dotnet_diagnostic.CA2201.severity = none

# This flags all FluentAssertions as issues
dotnet_diagnostic.IDE0058.severity = none
